$color_brown: #391F00;
$color_white: #FFFBF1;
$color_red: #E70000;
body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.chane-password {
  .modal-content {
    background-color: $color_white;
    border-radius: 10px;
  }
  .modal-header {
    justify-content: center;
    .modal-title {
      font-size: 40px;
      color: $color_brown;
      font-family: SVN-A Love Of Thunder;
    }
    .btn-close {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 40px;
      color: $color_brown;
      font-family: SVN-A Love Of Thunder;
    }
  }
  .modal-body {
    .required-icon {
      color: $color_red;
    }
    .form-group {
      margin-bottom: 20px;
      label {
        font-weight: bold;
        color: $color_brown;
      }
      input {
        border-color: $color_brown;
        background-color: $color_white;
        &::placeholder {
          color: $color_brown;
        }
      }
    }
    .submit-btn {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      button {
        background: url("../images/background-btn-3.png") center no-repeat;
        background-size: contain;
        border: none;
        font-size: 25px;
        color: $color_brown;
        font-weight: bold;
        padding: 20px;
        font-family: SVN-A Love Of Thunder;
      }
    }
  }
}