body{
    background-color: #2a2122 !important;
}

.wrapper-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 635px;

    background-image: url("../images/banner-full.png");
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
}
.wrapper-footer {
    height: 119px;
    text-align: center;
    background: #241C1D;
    padding: 43px 0;
}
.wrapper-footer .footer-item {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
