@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@font-face {
  font-family: 'SVN-A Love Of Thunder';
  src: url('../fonts/SVN-SVN-A\ Love\ Of\ Thunder.ttf') format('truetype');
}
// #content {
//   padding: 0 80px 75px 80px;
//   display: flex;
//   .left-sidebar,
//   .right-sidebar {
//     flex: 0 0 325px;
//   }
//   .left-sidebar {
//     padding-right: 20px;
//   }
//   .right-sidebar {
//     padding-left: 20px;
//   }
//   .main-content {
//     flex-grow: 1;
//   }
// }
// menu
.home-page {
  &__content {
    display: flex;
  }
}
.title {
  width: 100%;
}
.btn-title {
  color: #391f00;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 55px;
  font-family: 'SVN-A Love Of Thunder';
  margin: 0 auto;
  display: block;
  // width: 551px;
  border-radius: 40px;
  // height: 118px;
  background-image: url(../assets/images/background-btn-1.png);
  background-size: contain;
  padding: 25px;
}

th,
td,
tr {
  border: none !important;
  color: #ffffff;
}
th {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #f9ea75;
}

.count ul {
  width: 325px;
  margin: 0 auto;
  margin-top: 16px;
}
.count ul li {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #f9ea75;
}
span.count-item-title {
  width: 150px;
  display: inline-block;
}
span.haicham {
  margin-right: 12px;
}
.li-center {
  margin-top: 22px;
  margin-bottom: 22px;
}

//
.right-sidebar {
  .btn-item {
    font-family: 'SVN-A Love Of Thunder';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    height: 56px;
    width: 216px;
    color: #391f00;
    display: flex;
    background-image: url(../images/bg-btn-item.png);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 9px;
  }
  .btn-item-box {
    text-align: center;
    margin-bottom: 15px;
  }
  .right-sidebar-box {
    ul {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0px;
      justify-content: space-around;
    }
    li {
      flex: 0 0 50%;
      max-width: 140px;
      margin: 15px 0;
      text-align: center;
      .price {
        display: block;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 5px;
        color: #d34c2a;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
      }
      .btn-buy {
        margin: 0 auto;
        font-family: 'SVN-A Love Of Thunder';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 6px;
        height: 33px;
        width: 99px;
        color: #391f00;
        background-image: url(../images/bg-btn-3.png);
        background-size: 100% 100%;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        &:hover {
          background-image: url(../images/bg-btn-reg-hover.png);
          color: #f7e36f;
        }
      }
    }
  }
}
.left-sidebar {
  text-align: center;
  .btn-download-box {
    margin-bottom: 35px;
    .btn-download,
    .btn-choose-character {
      font-family: 'SVN-A Love Of Thunder';
      font-size: 35px;
      line-height: 48px;
      color: #ffffff;
      height: 68px;
      width: 304px;
      padding-bottom: 12px;
      background-image: url(../images/background-btn-2.png);
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
    }
    .btn-choose-character {
      font-size: 24px;
    }
  }
  .btn-lg-reg-box {
    .btn-register,
    .btn-login {
      display: block;
      font-family: 'SVN-A Love Of Thunder';
      font-size: 32px;
      color: #391f00;
      height: 58px;
      width: 219px;
      padding-bottom: 9px;
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      margin: 10px auto;
    }
    .btn-rotation-lucky,
    .btn-gif,
    .btn-shop {
      display: block;
      font-family: 'SVN-A Love Of Thunder';
      font-size: 24px;
      color: #391f00;
      height: 68px;
      width: 304px;
      padding-bottom: 9px;
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      margin: 10px auto;
    }
    .btn-register,
    .btn-shop {
      background-image: url(../images/background-btn-4.png);
      &:hover {
        background-image: url(../images/bg-btn-reg-hover.png);
        color: #f7e36f;
      }
    }
    .btn-login,
    .btn-gif,
    .btn-rotation-lucky {
      background-image: url(../images/background-btn-5.png);
      &:hover {
        background-image: url(../images/bg-btn-log-hover.png);
        color: #f7e36f;
      }
    }
    a {
      color: initial;
      text-decoration: none;
      &:hover {
        color: #f7e36f;
      }
    }
  }
  .mission-box {
    margin-top: 36px;
    font-family: 'SVN-A Love Of Thunder';
    background-image: url(../images/bg-mission.png);
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 305px;
    height: 428px;
    display: flex;
    flex-direction: column;
    .title-mission {
      font-size: 27px;
      padding-top: 10px;
      display: block;
      height: 65px;
    }
    ul {
      flex-grow: 1;
      padding: 0;
      text-align: center;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 24px;
      li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/bg-mission-item.png);
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 196px;
        height: 49px;
        font-size: 20px;
      }
    }
  }
  .countdown-box {
    margin-top: 40px;
    .countdown-title {
      font-family: 'SVN-A Love Of Thunder';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      display: block;
      margin-bottom: 14px;
    }
  }
  #countdown-1 {
    color: #ffffff;
    height: 96px;
    width: 313px;
    background-image: url(../images/bg-countdown.png);
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
    > div {
      width: 35px;
      height: 50px;
      margin: 0 5px;
    }
  }
}
.main-content {
  background-image: url('../images/bg-home-content.png');
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  padding-top: 11px;
  .line-header-content {
    background-image: url('../images/line-moon.png');
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: calc(100% - 24px);
    height: 24px;
    margin: 0 auto;
  }
  .embed-link {
    background-image: url('../images/bg-youtube.png');
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    max-width: 580px;
    height: 325px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 19px;
    width: calc(100% - 50px);
    iframe {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
  }
  .main-content-title {
    font-family: 'SVN-A Love Of Thunder';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .list-content {
    padding: 0 40px;
  }
  .list-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .list-content-image {
      flex: 0 0 105px;
    }
    .list-content-box {
      flex-grow: 1;
      padding-left: 15px;
    }
  }
  .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;
  }
  .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: #ffffff;
  }
}
