.menu .image-logo img {
  border: 2px solid #ffc700;
  width: 100px; }
.menu .navbar-nav,
.menu .dropdown-menu {
  background: #D18226;
  border-radius: 25px;
  border: 5px solid #391F00; }
  .menu .navbar-nav.menu-right, .menu .navbar-nav.menu-right .dropdown-menu,
  .menu .dropdown-menu.menu-right,
  .menu .dropdown-menu.menu-right .dropdown-menu {
    background: #391F00;
    border-radius: 4px;
    border: 1px solid #fdffa5; }
    .menu .navbar-nav.menu-right .nav-item .nav-link, .menu .navbar-nav.menu-right .dropdown-menu .nav-item .nav-link,
    .menu .dropdown-menu.menu-right .nav-item .nav-link,
    .menu .dropdown-menu.menu-right .dropdown-menu .nav-item .nav-link {
      padding: 10px 18px !important; }
  .menu .navbar-nav.main-dropdown-menu,
  .menu .dropdown-menu.main-dropdown-menu {
    padding: 0; }
  .menu .navbar-nav li a,
  .menu .dropdown-menu li a {
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'SVN-A Love Of Thunder';
    font-style: normal;
    line-height: 22px;
    text-decoration: none;
    padding: 12px 18px !important; }
    .menu .navbar-nav li a.main-dropdown-toggle,
    .menu .dropdown-menu li a.main-dropdown-toggle {
      padding-right: 24px !important;
      padding-left: 22px !important; }
    .menu .navbar-nav li a:hover,
    .menu .dropdown-menu li a:hover {
      background-color: #391F00; }
.menu .navbar-nav {
  margin-top: 35px; }
.menu .main-menu {
  flex: 1 0 70%;
  justify-content: space-around;
  margin-right: 45px; }
.menu .menu-right {
  border: 2px solid #fefda1; }
  .menu .menu-right a {
    background: -webkit-linear-gradient(#ffaa05, #fdffa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SVN-A Love Of Thunder !important; }
    .menu .menu-right a::after {
      display: none; }
  .menu .menu-right img {
    border: none; }
  .menu .menu-right .plus-icon {
    width: 30px; }
  .menu .menu-right .dropdown-menu-right {
    padding: 0 10px;
    margin-top: 3px; }
    .menu .menu-right .dropdown-menu-right li:hover {
      background-color: transparent; }
    .menu .menu-right .dropdown-menu-right a {
      padding: 10px 0 !important;
      border-bottom: 1px solid #fefda1; }
      .menu .menu-right .dropdown-menu-right a:hover {
        background-color: transparent; }
    .menu .menu-right .dropdown-menu-right li:last-child a {
      border-bottom: none; }
    .menu .menu-right .dropdown-menu-right li {
      padding: 0 8px; }

@media all and (max-width: 1400px) {
  .navbar-expand-lg .navbar-nav {
    flex-wrap: wrap;
    justify-content: start !important; } }
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative; }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px; }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto; }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1; }

  .dropdown-menu > li:hover > .submenu {
    display: block; } }
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem; } }

/*# sourceMappingURL=menu.css.map */
