@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap");
@import url(./global.css);
@import url(./homeStyled.css);
@font-face {
  font-family: SVN-A Love Of Thunder;
  src: url("../fonts/SVN-SVN-A Love Of Thunder.ttf"); }
@font-face {
  font-family: SVN-Apple;
  src: url("../fonts/SVN-Apple.ttf"); }
.menu .image-logo img {
  border: 2px solid #ffc700;
  width: 100px; }
.menu .navbar-nav,
.menu .dropdown-menu {
  background: rgba(33, 33, 33, 0.8);
  border-radius: 4px;
  border: 2px solid #fdffa5; }
  .menu .navbar-nav li a,
  .menu .dropdown-menu li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #e5e5e5;
    text-decoration: none;
    padding: 10px; }
    .menu .navbar-nav li a:hover,
    .menu .dropdown-menu li a:hover {
      color: #391f00;
      font-weight: bold;
      background-image: linear-gradient(#c9c7b6, #ce8f20); }
.menu .navbar-nav {
  margin-top: 35px; }
.menu .main-menu {
  flex: 1 0 70%;
  justify-content: space-around;
  margin-right: 45px; }
.menu .menu-right {
  border: 2px solid #fefda1; }
  .menu .menu-right a {
    background: -webkit-linear-gradient(#ffaa05, #fdffa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SVN-A Love Of Thunder !important; }
    .menu .menu-right a::after {
      display: none; }
  .menu .menu-right img {
    border: none; }
  .menu .menu-right .plus-icon {
    width: 30px; }
  .menu .menu-right .dropdown-menu-right {
    padding: 0 10px;
    margin-top: 10px; }
    .menu .menu-right .dropdown-menu-right li:hover {
      background-color: transparent; }
    .menu .menu-right .dropdown-menu-right a {
      padding: 10px 0;
      border-bottom: 1px solid #fefda1; }
      .menu .menu-right .dropdown-menu-right a:hover {
        background-color: transparent; }

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative; }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px; }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto; }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1; }

  .dropdown-menu > li:hover > .submenu {
    display: block; } }
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem; } }
body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px; }

.chane-password .modal-content, .login-popup .modal-content {
  background-color: #FFFBF1;
  border-radius: 10px; }
.chane-password .modal-header, .login-popup .modal-header {
  justify-content: center; }
  .chane-password .modal-header .modal-title, .login-popup .modal-header .modal-title {
    font-size: 40px;
    color: #391F00;
    font-family: SVN-A Love Of Thunder; }
  .chane-password .modal-header .btn-close, .login-popup .modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 40px;
    color: #391F00;
    font-family: SVN-A Love Of Thunder; }
.chane-password .modal-body .required-icon, .login-popup .modal-body .required-icon {
  color: #E70000; }
.chane-password .modal-body .form-group, .login-popup .modal-body .form-group {
  margin-bottom: 20px; }
  .chane-password .modal-body .form-group label, .login-popup .modal-body .form-group label {
    font-weight: bold;
    color: #391F00; }
  .chane-password .modal-body .form-group input, .login-popup .modal-body .form-group input {
    border-color: #391F00;
    background-color: #FFFBF1; }
    .chane-password .modal-body .form-group input::placeholder, .login-popup .modal-body .form-group input::placeholder {
      color: #391F00; }
.chane-password .modal-body .submit-btn, .login-popup .modal-body .submit-btn {
  margin: 30px 0;
  display: flex;
  justify-content: center; }
  .chane-password .modal-body .submit-btn button, .login-popup .modal-body .submit-btn button {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none;
    font-size: 25px;
    color: #391F00;
    font-weight: bold;
    padding: 20px;
    font-family: SVN-A Love Of Thunder; }

.card-history__banner {
  margin-top: 100px; }
  .card-history__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none; }
  .card-history__banner .count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; }
    .card-history__banner .count ul {
      padding-left: 0; }
      .card-history__banner .count ul li {
        list-style: none;
        display: flex;
        flex-wrap: wrap; }
        .card-history__banner .count ul li .count-item-title {
          flex: 0 0 50%; }
.card-history .wrapper-table, .pick-chart .wrapper-table, .reputation-ranking .wrapper-table, .info-skill .wrapper-table, .gift .wrapper-table, .daily-mission .wrapper-table, .shop .wrapper-table, .wheel-fortune .wrapper-table {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap; }
  .card-history .wrapper-table .table, .pick-chart .wrapper-table .table, .reputation-ranking .wrapper-table .table, .info-skill .wrapper-table .table, .gift .wrapper-table .table, .daily-mission .wrapper-table .table, .shop .wrapper-table .table, .wheel-fortune .wrapper-table .table {
    max-width: 900px; }
    .card-history .wrapper-table .table td, .pick-chart .wrapper-table .table td, .reputation-ranking .wrapper-table .table td, .info-skill .wrapper-table .table td, .gift .wrapper-table .table td, .daily-mission .wrapper-table .table td, .shop .wrapper-table .table td, .wheel-fortune .wrapper-table .table td {
      font-size: 14px; }
    .card-history .wrapper-table .table__deposit, .pick-chart .wrapper-table .table__deposit, .reputation-ranking .wrapper-table .table__deposit, .info-skill .wrapper-table .table__deposit, .gift .wrapper-table .table__deposit, .daily-mission .wrapper-table .table__deposit, .shop .wrapper-table .table__deposit, .wheel-fortune .wrapper-table .table__deposit {
      text-align: center; }
.card-history .wrapper-footer .footer-item2, .pick-chart .wrapper-footer .footer-item2, .reputation-ranking .wrapper-footer .footer-item2, .info-skill .wrapper-footer .footer-item2, .gift .wrapper-footer .footer-item2, .daily-mission .wrapper-footer .footer-item2, .shop .wrapper-footer .footer-item2, .wheel-fortune .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }

.purchase-history .wrapper-header, .card-history .wrapper-header, .pick-chart .wrapper-header, .reputation-ranking .wrapper-header, .info-skill .wrapper-header, .gift .wrapper-header, .daily-mission .wrapper-header, .shop .wrapper-header, .wheel-fortune .wrapper-header {
  height: 500px; }
  .purchase-history .wrapper-header .btn-title, .card-history .wrapper-header .btn-title, .pick-chart .wrapper-header .btn-title, .reputation-ranking .wrapper-header .btn-title, .info-skill .wrapper-header .btn-title, .gift .wrapper-header .btn-title, .daily-mission .wrapper-header .btn-title, .shop .wrapper-header .btn-title, .wheel-fortune .wrapper-header .btn-title {
    padding: 35px 25px; }
.purchase-history .table, .card-history .table, .pick-chart .table, .reputation-ranking .table, .info-skill .table, .gift .table, .daily-mission .table, .shop .table, .wheel-fortune .table {
  max-width: 100% !important; }

.pick-chart .wrapper-header, .reputation-ranking .wrapper-header {
  height: auto; }
  .pick-chart .wrapper-header .btn-title, .reputation-ranking .wrapper-header .btn-title {
    padding: 40px 25px; }
    .pick-chart .wrapper-header .btn-title img, .reputation-ranking .wrapper-header .btn-title img {
      width: 40px; }
  .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown {
    width: max-content;
    margin: 0 auto; }
    .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .btn-title::after, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .btn-title::after {
      content: none; }
    .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu {
      padding: 40px 25px;
      width: 100%;
      background-image: url(../images/bg-dropdown-menu-shop.png);
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat; }
      .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu.show, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu.show {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center; }
      .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item {
        height: 120px;
        margin: 25px 0;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'SVN-A Love Of Thunder';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff; }
        .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-1, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-1 {
          background-image: url(../images/up-btn-1.png);
          background-size: 100% 100%;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat; }
        .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-2, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-2 {
          background-image: url(../images/up-btn-2.png);
          background-size: 100% 100%;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat; }
        .pick-chart .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-3, .reputation-ranking .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-3 {
          background-image: url(../images/up-btn-3.png);
          background-size: 100% 100%;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat; }
.pick-chart .charts, .reputation-ranking .charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px; }
  .pick-chart .charts .chart, .reputation-ranking .charts .chart {
    background-size: cover;
    background-image: url("../images/window-2.png"); }
    .pick-chart .charts .chart__title, .reputation-ranking .charts .chart__title {
      font-size: 40px;
      font-family: 'SVN-A Love Of Thunder';
      display: flex;
      justify-content: center; }
    .pick-chart .charts .chart__content, .reputation-ranking .charts .chart__content {
      text-align: center;
      color: #fffbf1;
      font-size: 20px;
      font-family: SVN-Apple;
      padding: 20px;
      line-height: 33px; }
      .pick-chart .charts .chart__content .name, .reputation-ranking .charts .chart__content .name {
        font-size: 25px; }
  .pick-chart .charts .chart-1, .reputation-ranking .charts .chart-1 {
    margin: 0 20px;
    width: 388px;
    height: 510px; }
  .pick-chart .charts .chart-2, .reputation-ranking .charts .chart-2 {
    width: 344px;
    height: 452px; }
  .pick-chart .charts .chart-3, .reputation-ranking .charts .chart-3 {
    width: 313px;
    height: 411px; }
.pick-chart .wrapper-table__title, .reputation-ranking .wrapper-table__title {
  font-size: 40px;
  font-family: 'SVN-A Love Of Thunder';
  color: #ffffff;
  margin: 50px 0; }

.reputation-ranking .wrapper-header .btn-title {
  padding: 55px 25px; }

.login-popup .form-detail {
  font-family: 'Roboto Slab';
  color: #391F00;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .login-popup .form-detail .register-btn {
    color: #E70000;
    font-weight: bold;
    text-decoration: #E70000; }
  .login-popup .form-detail .repassword-btn {
    font-weight: bold;
    color: #391F00;
    text-decoration: #391F00; }

.info-skill .wrapper-header {
  height: 550px; }
  .info-skill .wrapper-header .btn-title {
    padding: 20px 25px 35px 25px; }
.info-skill__banner {
  margin-top: 100px; }
  .info-skill__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none; }
.info-skill .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }
.info-skill .table {
  max-width: 100% !important; }
.info-skill .list-content-skill {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .info-skill .list-content-skill .list-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex: 0 0 50%;
    padding: 0 25px; }
    .info-skill .list-content-skill .list-content-item .list-content-image {
      flex: 0 0 105px; }
    .info-skill .list-content-skill .list-content-item .list-content-box {
      flex-grow: 1;
      padding-left: 15px; }
  .info-skill .list-content-skill .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff; }
  .info-skill .list-content-skill .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; }

.card-recharge-intro__banner {
  margin-top: 100px; }
  .card-recharge-intro__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none; }
.card-recharge-intro .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }
.card-recharge-intro .table {
  max-width: 100% !important; }
.card-recharge-intro .list-content-step {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .card-recharge-intro .list-content-step .list-content-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    flex: 0 0 100%; }
    .card-recharge-intro .list-content-step .list-content-item .list-content-step-box {
      flex: 0 0 85px; }
      .card-recharge-intro .list-content-step .list-content-item .list-content-step-box .step-title {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #f9ea75; }
    .card-recharge-intro .list-content-step .list-content-item .list-content-box {
      flex-grow: 1;
      padding-left: 15px;
      padding-top: 5px; }
  .card-recharge-intro .list-content-step .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff; }
  .card-recharge-intro .list-content-step .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; }

.gift .wrapper-header {
  height: 500px; }
.gift .gift__banner {
  margin-top: 100px; }
  .gift .gift__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none;
    width: 329px;
    height: 100px;
    padding: 0;
    padding-bottom: 6px; }
.gift .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }
.gift .table {
  max-width: 100% !important; }
.gift .list-content-gift {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .gift .list-content-gift .list-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    flex: 0 0 100%;
    padding: 0 25px; }
    .gift .list-content-gift .list-content-item .list-content-image {
      flex: 0 0 105px; }
    .gift .list-content-gift .list-content-item .list-content-box {
      flex-grow: 1;
      padding-left: 15px;
      padding-right: 60px; }
    .gift .list-content-gift .list-content-item .btn-receive-box {
      flex: 0 0 128px; }
      .gift .list-content-gift .list-content-item .btn-receive-box .btn-receive {
        background: url("../images/background-btn-3.png") center no-repeat;
        background-size: 100% 100%;
        border: none;
        font-family: 'SVN-A Love Of Thunder';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #391f00;
        width: 128px;
        height: 42px;
        padding: 0;
        padding-bottom: 6px; }
  .gift .list-content-gift .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff; }
  .gift .list-content-gift .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; }

.daily-mission .wrapper-header .btn-title {
  padding: 40px 25px; }
  .daily-mission .wrapper-header .btn-title img {
    width: 40px; }
.daily-mission .wrapper-table .th-action {
  text-align: center; }
.daily-mission .wrapper-table .action-box .btn-nhan {
  background: url("../images/btn-nhan.png") center no-repeat;
  background-size: contain;
  border: none;
  width: 100px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  padding-bottom: 6px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff; }
.daily-mission .wrapper-table .action-box .btn-tra {
  background: url("../images/btn-tra.png") center no-repeat;
  background-size: contain;
  border: none;
  width: 100px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  padding-bottom: 6px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #2a2122; }

.shop .wrapper-header {
  height: 375px; }
  .shop .wrapper-header .btn-title {
    padding: 20px 35px;
    width: 340px; }
    .shop .wrapper-header .btn-title img {
      width: 35px;
      padding-bottom: 5px; }
    .shop .wrapper-header .btn-title::after {
      content: none; }
    .shop .wrapper-header .btn-title:hover {
      color: #391f00; }
  .shop .wrapper-header .card-history__banner {
    margin-top: 75px; }
    .shop .wrapper-header .card-history__banner .shop-dropdown {
      width: max-content;
      margin: 0 auto; }
      .shop .wrapper-header .card-history__banner .shop-dropdown .btn-title ::after {
        content: none; }
      .shop .wrapper-header .card-history__banner .shop-dropdown .dropdown-menu {
        padding: 15px 25px;
        width: 340px;
        background-image: url(../images/bg-dropdown-menu-shop.png);
        background-size: 100% 100%;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat; }
        .shop .wrapper-header .card-history__banner .shop-dropdown .dropdown-menu .dropdown-item {
          height: 77px;
          margin: 25px 0;
          text-align: center;
          justify-content: center;
          align-items: center;
          display: flex;
          font-family: 'SVN-A Love Of Thunder';
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff; }
          .shop .wrapper-header .card-history__banner .shop-dropdown .dropdown-menu .dropdown-item.item-1 {
            background-image: url(../images/up-btn-1.png);
            background-size: 100% 100%;
            border: none;
            background-color: transparent;
            background-repeat: no-repeat; }
          .shop .wrapper-header .card-history__banner .shop-dropdown .dropdown-menu .dropdown-item.item-2 {
            background-image: url(../images/up-btn-2.png);
            background-size: 100% 100%;
            border: none;
            background-color: transparent;
            background-repeat: no-repeat; }
          .shop .wrapper-header .card-history__banner .shop-dropdown .dropdown-menu .dropdown-item.item-3 {
            background-image: url(../images/up-btn-3.png);
            background-size: 100% 100%;
            border: none;
            background-color: transparent;
            background-repeat: no-repeat; }
.shop .wrapper-content-shop {
  margin-bottom: 70px; }
  .shop .wrapper-content-shop ul,
  .shop .wrapper-content-shop li {
    list-style-type: none; }
  .shop .wrapper-content-shop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .shop .wrapper-content-shop ul li {
      flex: 0 0 25%;
      padding: 0 12px;
      margin-bottom: 50px; }
  .shop .wrapper-content-shop .list-content-image {
    text-align: center; }
  .shop .wrapper-content-shop .list-content-box {
    text-align: center; }
    .shop .wrapper-content-shop .list-content-box .list-content-price {
      font-family: 'SVN-A Love Of Thunder';
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      text-transform: uppercase;
      color: #ffffff;
      margin: 5px 0 15px 0; }
    .shop .wrapper-content-shop .list-content-box .btn-buy {
      margin: 0 auto;
      font-family: 'SVN-A Love Of Thunder';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px 6px 10px;
      color: #391f00;
      background-image: url(../images/bg-btn-3.png);
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat; }
      .shop .wrapper-content-shop .list-content-box .btn-buy:hover {
        background-image: url(../images/bg-btn-reg-hover.png);
        color: #f7e36f; }

.wheel-fortune .wrapper-header {
  height: auto; }
  .wheel-fortune .wrapper-header .btn-title {
    padding: 40px 25px; }
    .wheel-fortune .wrapper-header .btn-title img {
      width: 40px; }
  .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown {
    width: max-content;
    margin: 0 auto; }
    .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .btn-title::after {
      content: none; }
    .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu {
      padding: 40px 25px;
      width: 100%;
      background-image: url(../images/bg-dropdown-menu-shop.png);
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat; }
      .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu.show {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center; }
      .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item {
        height: 120px;
        margin: 25px 0;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'SVN-A Love Of Thunder';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff; }
        .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-1 {
          background-image: url(../images/up-btn-1.png);
          background-size: 100% 100%;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat; }
        .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-2 {
          background-image: url(../images/up-btn-2.png);
          background-size: 100% 100%;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat; }
        .wheel-fortune .wrapper-header .card-history__banner .pick-chart-dropdown .dropdown-menu .dropdown-item.item-3 {
          background-image: url(../images/up-btn-3.png);
          background-size: 100% 100%;
          border: none;
          background-color: transparent;
          background-repeat: no-repeat; }
.wheel-fortune .charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px; }
  .wheel-fortune .charts .chart {
    background-size: cover;
    background-image: url("../images/window-2.png"); }
    .wheel-fortune .charts .chart__title {
      font-size: 40px;
      font-family: 'SVN-A Love Of Thunder';
      display: flex;
      justify-content: center; }
    .wheel-fortune .charts .chart__content {
      text-align: center;
      color: #fffbf1;
      font-size: 20px;
      font-family: SVN-Apple;
      padding: 20px;
      line-height: 33px; }
      .wheel-fortune .charts .chart__content .name {
        font-size: 25px; }
  .wheel-fortune .charts .chart-1 {
    margin: 0 20px;
    width: 388px;
    height: 510px; }
  .wheel-fortune .charts .chart-2 {
    width: 344px;
    height: 452px; }
  .wheel-fortune .charts .chart-3 {
    width: 313px;
    height: 411px; }
.wheel-fortune .wrapper-table__title {
  font-size: 40px;
  font-family: 'SVN-A Love Of Thunder';
  color: #ffffff;
  margin: 50px 0; }

.transfer-money-wrapper .tab-content .coin-game-transfer {
  font-size: 20px;
  font-weight: bold;
  color: #391f00; }
.transfer-money-wrapper .tab-content .form-control {
  border-radius: 4px; }
.transfer-money-wrapper .tab-content .icon-transfer {
  background: transparent;
  border: unset;
  margin-right: 12px; }
.transfer-money-wrapper .tab-content .icon-logo img {
  width: 29px;
  height: 29px;
  border: 1px solid #d18226; }
.transfer-money-wrapper .tab-content .coin-game-transfer,
.transfer-money-wrapper .tab-content .coin-blockchain-transfer {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 4px;
  color: #391f00; }
.transfer-money-wrapper .tab-content .coin-game-brief,
.transfer-money-wrapper .tab-content .coin-blockchain-brief {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #391f00;
  display: block;
  margin-bottom: 1.5rem;
  opacity: 0.6; }

#switch-change-coin .nav-tabs {
  border-bottom-color: #c8c8c8; }
#switch-change-coin .nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #c8c8c8;
  padding-left: 5px;
  background: transparent;
  border: none;
  border-radius: unset; }
  #switch-change-coin .nav-link.active {
    color: #391f00;
    border-bottom: 3px solid #391f00; }

/*# sourceMappingURL=style.css.map */
