@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap");
@import url(./global.css);
@import url(./homeStyled.css);
@font-face {
  font-family: SVN-A Love Of Thunder;
  src: url("../fonts/SVN-SVN-A Love Of Thunder.ttf"); }
@font-face {
  font-family: SVN-Apple;
  src: url("../fonts/SVN-Apple.ttf"); }
.menu .image-logo img {
  border: 2px solid #ffc700;
  width: 100px; }
.menu .navbar-nav,
.menu .dropdown-menu {
  background: rgba(33, 33, 33, 0.8);
  border-radius: 4px;
  border: 2px solid #fdffa5; }
  .menu .navbar-nav li a,
  .menu .dropdown-menu li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #e5e5e5;
    text-decoration: none;
    padding: 10px; }
    .menu .navbar-nav li a:hover,
    .menu .dropdown-menu li a:hover {
      color: #391f00;
      font-weight: bold;
      background-image: linear-gradient(#c9c7b6, #ce8f20); }
.menu .navbar-nav {
  margin-top: 35px; }
.menu .main-menu {
  flex: 1 0 70%;
  justify-content: space-around;
  margin-right: 45px; }
.menu .menu-right {
  border: 2px solid #fefda1; }
  .menu .menu-right a {
    background: -webkit-linear-gradient(#ffaa05, #fdffa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SVN-A Love Of Thunder !important; }
    .menu .menu-right a::after {
      display: none; }
  .menu .menu-right img {
    border: none; }
  .menu .menu-right .plus-icon {
    width: 30px; }
  .menu .menu-right .dropdown-menu-right {
    padding: 0 10px;
    margin-top: 10px; }
    .menu .menu-right .dropdown-menu-right li:hover {
      background-color: transparent; }
    .menu .menu-right .dropdown-menu-right a {
      padding: 10px 0;
      border-bottom: 1px solid #fefda1; }
      .menu .menu-right .dropdown-menu-right a:hover {
        background-color: transparent; }

@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative; }

  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px; }

  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto; }

  .dropdown-menu > li:hover {
    background-color: #f1f1f1; }

  .dropdown-menu > li:hover > .submenu {
    display: block; } }
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem; } }
body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px; }

.chane-password .modal-content {
  background-color: #FFFBF1;
  border-radius: 10px; }
.chane-password .modal-header {
  justify-content: center; }
  .chane-password .modal-header .modal-title {
    font-size: 40px;
    color: #391F00;
    font-family: SVN-A Love Of Thunder; }
  .chane-password .modal-header .btn-close {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 40px;
    color: #391F00;
    font-family: SVN-A Love Of Thunder; }
.chane-password .modal-body .required-icon {
  color: #E70000; }
.chane-password .modal-body .form-group {
  margin-bottom: 20px; }
  .chane-password .modal-body .form-group label {
    font-weight: bold;
    color: #391F00; }
  .chane-password .modal-body .form-group input {
    border-color: #391F00;
    background-color: #FFFBF1; }
    .chane-password .modal-body .form-group input::placeholder {
      color: #391F00; }
.chane-password .modal-body .submit-btn {
  margin: 30px 0;
  display: flex;
  justify-content: center; }
  .chane-password .modal-body .submit-btn button {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none;
    font-size: 25px;
    color: #391F00;
    font-weight: bold;
    padding: 20px;
    font-family: SVN-A Love Of Thunder; }

.card-history .wrapper-header, .pick-chart .wrapper-header {
  background-image: url("../images/rectangle-2.png"); }
.card-history .wrapper-header, .pick-chart .wrapper-header {
  height: 550px; }
.card-history__banner {
  margin-top: 100px; }
  .card-history__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none; }
  .card-history__banner .count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; }
    .card-history__banner .count ul {
      padding-left: 0; }
      .card-history__banner .count ul li {
        list-style: none;
        display: flex;
        flex-wrap: wrap; }
        .card-history__banner .count ul li .count-item-title {
          flex: 0 0 50%; }
.card-history .wrapper-table, .pick-chart .wrapper-table {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap; }
  .card-history .wrapper-table .table, .pick-chart .wrapper-table .table {
    max-width: 900px; }
    .card-history .wrapper-table .table td, .pick-chart .wrapper-table .table td {
      font-size: 14px; }
    .card-history .wrapper-table .table__deposit, .pick-chart .wrapper-table .table__deposit {
      text-align: center; }
.card-history .wrapper-footer .footer-item2, .pick-chart .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }

.purchase-history .wrapper-header, .pick-chart .wrapper-header {
  height: 500px; }
  .purchase-history .wrapper-header .btn-title, .pick-chart .wrapper-header .btn-title {
    padding: 35px 25px; }
.purchase-history .table, .pick-chart .table {
  max-width: 100% !important; }

.pick-chart .wrapper-header {
  height: auto; }
  .pick-chart .wrapper-header .btn-title {
    padding: 40px 25px; }
    .pick-chart .wrapper-header .btn-title img {
      width: 40px; }
.pick-chart .charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px; }
  .pick-chart .charts .chart {
    background-size: cover;
    background-image: url("../images/window-2.png"); }
    .pick-chart .charts .chart__title {
      font-size: 40px;
      font-family: 'SVN-A Love Of Thunder';
      display: flex;
      justify-content: center; }
    .pick-chart .charts .chart__content {
      text-align: center;
      color: #FFFBF1;
      font-size: 20px;
      font-family: SVN-Apple;
      padding: 20px;
      line-height: 33px; }
      .pick-chart .charts .chart__content .name {
        font-size: 25px; }
  .pick-chart .charts .chart-1 {
    margin: 0 20px;
    width: 388px;
    height: 510px; }
  .pick-chart .charts .chart-2 {
    width: 344px;
    height: 452px; }
  .pick-chart .charts .chart-3 {
    width: 313px;
    height: 411px; }
.pick-chart .wrapper-table__title {
  font-size: 40px;
  font-family: 'SVN-A Love Of Thunder';
  color: #FFFFFF;
  margin: 50px 0; }

.info-skill .wrapper-header {
  background-image: url("../images/rectangle-2.png");
  height: 500px; }
  .info-skill .wrapper-header .btn-title {
    padding: 20px 25px 35px 25px; }
.info-skill__banner {
  margin-top: 100px; }
  .info-skill__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none; }
.info-skill .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }
.info-skill .table {
  max-width: 100% !important; }
.info-skill .list-content-skill {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .info-skill .list-content-skill .list-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex: 0 0 50%;
    padding: 0 25px; }
    .info-skill .list-content-skill .list-content-item .list-content-image {
      flex: 0 0 105px; }
    .info-skill .list-content-skill .list-content-item .list-content-box {
      flex-grow: 1;
      padding-left: 15px; }
  .info-skill .list-content-skill .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff; }
  .info-skill .list-content-skill .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; }

.info-skill .wrapper-header {
  background-image: url("../images/rectangle-2.png");
  height: 500px; }
  .info-skill .wrapper-header .btn-title {
    padding: 20px 25px 35px 25px; }
.info-skill__banner {
  margin-top: 100px; }
  .info-skill__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none; }
.info-skill .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }
.info-skill .table {
  max-width: 100% !important; }
.info-skill .list-content-step {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .info-skill .list-content-step .list-content-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    flex: 0 0 100%; }
    .info-skill .list-content-step .list-content-item .list-content-step-box {
      flex: 0 0 85px; }
      .info-skill .list-content-step .list-content-item .list-content-step-box .step-title {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #f9ea75; }
    .info-skill .list-content-step .list-content-item .list-content-box {
      flex-grow: 1;
      padding-left: 15px;
      padding-top: 5px; }
  .info-skill .list-content-step .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff; }
  .info-skill .list-content-step .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; }

.info-skill .wrapper-header {
  background-image: url("../images/rectangle-2.png");
  height: 500px; }
.info-skill .gift__banner {
  margin-top: 100px; }
  .info-skill .gift__banner .btn-title {
    background: url("../images/background-btn-3.png") center no-repeat;
    background-size: contain;
    border: none;
    width: 329px;
    height: 100px;
    padding: 0;
    padding-bottom: 6px; }
.info-skill .wrapper-footer .footer-item2 {
  padding-bottom: 10px;
  margin-top: 10px;
  background-image: url("../images/Group.png"); }
.info-skill .table {
  max-width: 100% !important; }
.info-skill .list-content-gift {
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .info-skill .list-content-gift .list-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    flex: 0 0 100%;
    padding: 0 25px; }
    .info-skill .list-content-gift .list-content-item .list-content-image {
      flex: 0 0 105px; }
    .info-skill .list-content-gift .list-content-item .list-content-box {
      flex-grow: 1;
      padding-left: 15px;
      padding-right: 60px; }
    .info-skill .list-content-gift .list-content-item .btn-receive-box {
      flex: 0 0 128px; }
      .info-skill .list-content-gift .list-content-item .btn-receive-box .btn-receive {
        background: url("../images/background-btn-3.png") center no-repeat;
        background-size: 100% 100%;
        border: none;
        font-family: 'SVN-A Love Of Thunder';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #391f00;
        width: 128px;
        height: 42px;
        padding: 0;
        padding-bottom: 6px; }
  .info-skill .list-content-gift .list-content-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff; }
  .info-skill .list-content-gift .list-content-brief {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; }

/*# sourceMappingURL=style.css.map */
